In [30]:
import pandas as pd
df = pd.read_csv('merged.csv', sep='\t', comment="#", header=None)
df.rename(columns={0: 'Marker'}, inplace=True)
df['new_chr'] = 1
df = df.transpose()
frames = [df.loc[['Marker','new_chr']], df[4:]]
df = pd.concat(frames)
df.rename(index={'Marker':'id'},inplace=True)
df.rename(index={'new_chr':''},inplace=True)
df.to_csv('qtl.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,...,286,287,288,289,290,291,292,293,294,295
id,{4990724},{1126362},{3956533},{1243839},{1206240},{1126208},{1257501},{1308285},{4989226},{1255608},...,2275397,"1137921, 2292556, (4910876*), (5970595), (4993...","1003719, [1229564], (2256926), [1150059], (113...",2303561,"1063985, (1241560), (1113757), [4910975*], [22...","3064691, [2254313*], [4397580], (3934946), [12...",7940724,"1005607*, (3021826)","1046220*, [987503*], [1243774], [3027286], [10...","4989570, [4005431], [2260557], [2281371*], [10..."
,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,B,-,B,A,A,A,A,A,A,B,...,A,A,B,B,A,B,A,A,A,A
5,A,B,A,A,-,B,A,A,B,B,...,A,A,A,B,A,B,A,A,A,A
6,B,-,B,A,A,B,B,A,B,B,...,A,B,B,B,A,B,A,B,A,A
7,A,A,B,A,B,A,B,A,A,A,...,B,A,A,A,B,A,B,B,B,B

In [ ]:
df = df.transpose()
frames = [df.loc[['Marker','new_chr']], df[4:]]
df = pd.concat(frames)
df.rename(index={'Marker':'id'},inplace=True)
df.rename(index={'new_chr':''},inplace=True)

df.head(6)

In [24]:
df = df.transpose()
df.rename(columns={'0': 'Marker'}, inplace=True)

df.loc['new_chr'] = 1
frames = [df.loc[['Marker','new_chr']], df[5:]]
df = pd.concat(frames)
df.rename(index={'Marker':'id'},inplace=True)
df.rename(index={'new_chr':''},inplace=True)
df

KeyError: "None of [['Marker', 'new_chr']] are in the [index]"

In [6]:
df.to_csv('qtl.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,...,14869,14870,14871,14872,14873,14874,14875,14876,14877,Chr
Marker,983365,989276,993265,1004470,1010836,1013527,1014354,1015865,1026325,1026677,...,1061856,6005995,10592489,10592441,1229757,1255950,3027649,1052947,3570051,1
Chr,1A,1A,1A,1A,1A,1A,1A,1A,1A,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Pos,5.468e+08,1.04926e+07,1.04836e+07,5.65292e+08,5.65859e+08,9.25472e+06,5.69846e+08,5.84357e+08,2.93894e+06,2.87666e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
cM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,B,A,A,B,B,A,B,B,A,A,...,A,B,B,B,B,B,A,B,-,1
5,B,A,A,B,B,A,B,A,B,A,...,B,B,A,A,-,A,A,B,-,1
6,B,B,-,B,B,B,B,B,B,A,...,A,A,A,-,B,A,-,B,A,1
12,A,B,B,A,A,A,A,B,B,B,...,A,B,A,B,-,A,A,A,A,1
13,A,B,B,A,A,B,A,B,A,B,...,A,A,B,B,B,B,-,B,A,1